#container {
  height: 100%;
  width: 100%;
}

#popup {
  height: 120px;
  width: 200px;
  position: absolute;
  border: 1px solid white;
  border-radius: 15px;
  top: 20px;
  right: 20px;
  padding: 10px;
  color: white;
  margin-top: 5em;
}

#nodelabel {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 30%;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
