<body>
  <div class="header">
    <div class="menu">
      <div class="logo">
        <h1>TFD</h1>
        <h2>Transaction fraud detector</h2>
      </div>
    </div>
    <div class="buttons">
      @if (userName) { <span class="user">User: {{userName}}</span> }
      @if (oauthService.hasValidAccessToken()) {
        <button class="button" (click)="signOut()">
          Sign out
        </button>
      } @else {
        <button class="button" (click)="signIn()">
          Sign in
        </button>
      }
    </div>
  </div>
  <app-graphs></app-graphs>
</body>
